* text=auto eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.py text eol=lf
*.json text eol=lf
*.md text eol=lf
*.html text eol=lf
tests/fixtures/**/*.html -text
*.ps1 text eol=crlf
*.png binary
*.ico binary
